@{
    Layout = "Admin/_MyLayout";
}

@model Pizza

<div class="container">

    <div class="row">

        <div class="col-12">

            <h1 class="py-4">Aggiungi una nuova Pizza</h1>

            <form asp-controller="Pizza" asp-action="Create" method="post">

                @* per la sicurezza *@
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Inserisci Nome" required asp-for="Name">
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Descrizione" required asp-for="Description">
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Path immagine" required asp-for="PathImage">
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Prezzo" required asp-for="Price">
                </div>
                
                <button type="submit" class="btn btn-primary">Crea</button>
            </form>

        </div>
    </div>
</div>