@{
    Layout = "Admin/_MyLayout";
}

@* @model Pizza *@
@* modifico il model *@
@model PizzaFormModel

<div class="container">

    <div class="row">

        <div class="col-12">

            <h1 class="py-4">Aggiungi una nuova Pizza</h1>

            <form asp-controller="Pizza" asp-action="Create" method="post">

                @* per la sicurezza *@
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Inserisci Nome" asp-for="Pizza.Name">
                    <span asp-validation-for="Pizza.Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Descrizione" asp-for="Pizza.Description">
                    <span asp-validation-for="Pizza.Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Path immagine" asp-for="Pizza.PathImage">
                    <span asp-validation-for="Pizza.PathImage" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Prezzo" asp-for="Pizza.Price">
                    <span asp-validation-for="Pizza.Price" class="text-danger"></span>
                </div>

                @* select per la categoria *@
                <select class="form-select" aria-label="Default select example" asp-for="Pizza.CategoryId">
                    
                    <option value="">Seleziona una categoria</option>

                    @foreach (Category categ in Model.Categories)
                    {
                        <option value="@categ.Id">@categ.Name</option>
                    }
                </select>

                <button type="submit" class="btn btn-primary">Crea</button>
            </form>

        </div>
    </div>
</div>